GOOGLE_API_KEY=""
TAVILY_API_KEY=""
FAST_LLM="google_genai:gemini-2.0-flash-exp"
SMART_LLM="google_genai:gemini-2.0-flash-exp"
STRATEGIC_LLM="google_genai:gemini-2.0-flash-exp"
EMBEDDING="google_genai:models/text-embedding-004"
RETRIEVER="duckduckgo"
DOC_PATH=./my-docs
SCRAPPER="browser"